<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blog.korn123.easydiary">

    <application
        android:allowBackup="true"
        android:name=".helper.EasyDiaryApplication"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a6947caf43e48066d000121" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="应用宝" />

        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:name=".activities.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.simplemobiletools.commons.activities.CustomizationActivity"  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.WebViewActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryInsertActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryReadActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="me.blog.korn123.easydiary.activities.DiaryUpdateActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiaryMainActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".googledrive.GoogleDriveUploader" />
        <activity android:name=".googledrive.GoogleDriveDownloader" />
        <activity android:name=".activities.BarChartActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CalendarActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiaryLockActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LockSettingActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PhotoViewPagerActivity" android:theme="@style/AppTheme.NoActionBar" android:hardwareAccelerated="false" />
        <activity android:name=".activities.PostCardActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.TimelineActivity" android:theme="@style/AppTheme.NoActionBar" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>